<div class="banner">
  <h1 class="container pt-3">Lists</h1>
</div>

<div class="container pt-3">
  <div class="row justify-content-start">
    <% @lists.each do |list| %>
      <div class="col-3">
        <div class="card">
          <%= link_to list.name, list_path(list.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <h4>
    <%= link_to "add new list", new_list_path %>
  </h4>
</div>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("tjhcgygk3xnsigunp0tb",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("dkk5wkf3q3qhjp8y2el9",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
