<h1 class="container pt-3">Lists</h1>

<div class="container pt-3">
<% @lists.each do |list| %>
  <div class="card">
    <%= link_to list.name, list_path(list.id) %>
  </div>
<% end %>
<h4>
  <%= link_to "add new list", new_list_path %>
</h4>
</div>
